$PrimOrange: hsl(26, 100%, 55%);
$PrimPaleOrange: hsl(25, 100%, 94%);
$NutrlVeryDarkBlue: hsl(220, 13%, 13%);
$NutrlDarkGrayishBlue: hsl(219, 9%, 45%);
$NutrlGrayishBlue: hsl(220, 14%, 75%);
$NutrlLightGrayishBlue: hsl(223, 64%, 98%);
$NutrlWhite: hsl(0, 0%, 100%);
$NutrlBlack: hsl(0, 0%, 0%);